<!doctype html>
<html>
    <head>
      <title>
        Carousel
      </title>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#38c179">
      <meta name="theme-color" content="#38c179">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
      <link rel="stylesheet" href="../style/normalize.css">
      <link rel="stylesheet" href="../style/index.css">
      <link rel="stylesheet" href="../style/img-car.css">
    </head>
    <body>
      <header class="clearfix">
        <nav>
          <ul>
            <li>
              <img src="../imgs/logo.png" alt="Engrid Hernandez">
            </li>
            <li class="alignright">
              <h1>Image Carousel</h1>
            </li>
          </ul>
        </nav>
      </header>
      <main class="clear">
        <button id="backButton" type="button" name="button">Last</button>
        <button id="forwardButton" type="button" name="button">Next</button>
        <section class="replaceSection">
          <img class="replaceImg" src="../imgs/img-car/start.jpg" alt="gray pattern">
        </section>
      </main>
      <footer>
        <h4>You can learn something new everyday if you just listen.</h4>
      </footer>
      <script type="text/javascript" src="../js/main.js"></script>
      <script type="text/javascript" src="../js/img-car.js"></script>
    </body>
</html>
