<!doctype html>
<html>
    <head>
      <title>
        MA Permit Test Prep
      </title>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#38c179">
      <meta name="theme-color" content="#38c179">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel="stylesheet" href="../style/normalize.css">
      <link rel="stylesheet" href="../style/index.css">
      <link rel="stylesheet" href="../style/memory.css">
    </head>
    <body>
      <header>
        <nav>
          <ul>
            <li>
              <img src="../imgs/logo.png" alt="Engrid Hernandez">
            </li>
            <li class="alignright">
              <h1>MA Permit Test Prep</h1>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="memoryControls">
          Begin
          Start Over
          Next set
          OTHER COMMANDS?
        </section>
        <section class="memoryBoard">
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
          <div class="memoryCard">
            <p class="memoryCardText">

            </p>
          </div>
        </section>
      </main>
      <footer>
        <h4>You can learn something new everyday if you just listen.</h4>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../js/main.js"></script>
      <script type="text/javascript" src="../js/memory.js"></script>
    </body>
</html>
